body{
  background-color:#0a0a0a;
}
.logo h2{
  font-family:Rammetto One;
  padding-top:10%;
  padding-bottom:5%;
}

  .yazi{
    border-radius:10px;
    background-color:#fff;
    padding:30px;
    margin:0 5%;
  }
.yazar{
    font-style: italic;
}
.button{
  background-color:red;
}
.sosyal{
  padding-top:20px;
   margin:0 5%;
  
  
}
.footer p{
  margin-top:20%;
   color: #949494;
   font-style: italic;
}
.logo h2{
  color:#fff;
 
}
   
